body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  form {
    text-align: center;
  }

  .form-field {
    margin-bottom: 10px;
  }

  .form-field label {
    display: block;
  }
  input{
      width: 220px;
      height: 20px;
      margin-bottom: 15px;
  }
button{
    width: 228px;
    height: 28px;
    color: white;
    background-color: #0C5E69;
    border-radius: 3px;
    box-shadow: none;
}


label{
    color: #0C5E69 ;
    font-size: 15px;
    margin-right:150px;
}
.label{
    color: #0C5E69 ;
    font-size: 15px;
    margin-right:190px;
}
p{
    margin-left: 10px;
        margin-bottom: 50px;
        color: #0C5E69 ;
        font-size: 15px;
}
img{
    width: 20%;
    height: 30%;
    align-content: center;
    margin-left: -40px;
    
  }